
.style img {
    width: 380px;
    height: 450px;
    /* margin-left: 5rem; */
    
}
.style p{
    left:170px;
    
}
.style button{
    /* margin-top: 75px; */
}
.popping{
    height: 600px;
    margin-top: 50px;
}
